<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" routerLink="/customerlist">
          Customer List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/customercreate">
          Create Customer
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/customeractivity">
          Activity Log
        </a>
      </li>
    </ul>
  </div>
</nav>